.add_button {
    display: block;
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    width: 150px;
    height: 50px;
    border: 2px solid #FFF;
    border-radius: 2px;
    margin: auto 0;
    padding: 0;
    background-color: #000;
}