.edit-button {
    display: flex;
    position: absolute;
    top: calc(50% - 22px);
    right: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    border-radius: none;
    padding: 0;
    margin: 0;
    background-color: #000;
}

.edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .edit-button {
        top: 8px;
        right: 0;
        width: 18px;
        height: 18px;
    }
}