.add-button__plus {
    width: 22px;
    height: 22px;
    margin: auto;
    background-color: #000;
}

@media screen and (max-width: 1000px) {
    .add-button__plus {
        width: 16px;
        height: 16px;
    }
}