.profile__info {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 336px;
    color: #fff;
    margin: auto 0 auto 30px;
    padding: 0;
}

@media screen and (max-width: 1000px) {
    .profile__info {
        max-width: 245px;
        margin: 26px auto 36px;
    }
}