.element__button {
    display: flex;
    width: 22px;
    height: 19px;
    margin: auto 20px auto 0;
    padding: 0;
    border: none;
    outline: none;
    background: #fff;
    transition: all 0.4s ease-in-out;
}

.element__button:hover {
    opacity: 0.5;
    cursor: pointer;
}