.element {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 282px;
    background-color: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .element {
        margin: auto;
    }
}